.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app-heading {
    font-size: 35px;
    margin: 20px;
    font-weight: bold;
    color: hsl(240deg 9.8% 20%);
}

.sub-heading {
    font-size: 25px;
    color: rgb(244, 200, 200);
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.input-container:hover {
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgb(244, 200, 200);
}


.task-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    width: 700px;
    height: 460px;
    box-shadow: 0px 0px 10px rgb(224, 223, 223);
}

.input-task {
    width: 400px;
    padding: 13px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    background-color: rgb(252, 233, 243);
}

.input-task:focus {
    outline: 2px solid rgb(244, 195, 220);
}

.btn {
    width: 120px;
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(244, 195, 220);
}

.btn:hover {
    background-color: rgb(251, 183, 218);
    transition: 0.3s;
}

.task-card {
    height: 60vh;
    overflow-y: scroll;
    width: fit-content;
}

@media (max-width: 768px) {
    .task-container {
        padding: 20px;
        width: 500px;
        height: 100vh;
    }

    .task-card {
        width: 500px;
        height: 50vh;
    }
}