@tailwind base;
@tailwind components;
@tailwind utilities;


.todo-box {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divider {
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    margin: 20px 0;
    border-radius: 10px;
}


.fade-in {
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}